<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-10">
  <div class="flex flex-col p-6">
    <h1 class="text-4xl py-8">
      Observatorio de Determinantes Sociales de la Salud de San Martin del Valle
    </h1>
    <div class="flex gap-20">
      <div class="flex flex-col gap-4 text-justify">
        <p class="text-slate-600">
          Bienvenido/a al Tablero de Monitoreo de Determinantes Sociales de la
          Salud.
        </p>
        <p class="text-slate-600">
          Este tablero forma parte de un sistema de monitoreo que permite
          observar de manera continua las condiciones sociales que influyen en
          la salud de la población, identificar desigualdades y orientar la toma
          de decisiones para mejorar el bienestar y la equidad en el territorio.
        </p>
        <p class="text-slate-600">
          A través del menú superior, usted podrá navegar por las distintas
          secciones del sistema:
        </p>
        <ul class="list-disc text-slate-600 flex flex-col gap-2 pl-4">
          <li>Inicio, con una visión general del propósito del tablero.</li>
          <li>
            Inequidades en salud, donde se presentan los principales datos sobre
            las inequidades en salud priorizadas por el territorio
          </li>
          <li>
            Determinantes sociales de la salud, orientada a dar seguimiento a
            las condiciones sociales subyacentes que están relacionadas con la
            producción de las inequidades priorizadas, además de las políticas
            implementadas para su abordaje.
          </li>
        </ul>
        <p class="text-slate-600">
          Este dashboard utiliza visualizaciones interactivas que facilitan el
          análisis, la comparación y el seguimiento de la situación local,
          apoyando la planificación y evaluación de políticas públicas.
        </p>
        <p class="text-slate-600">
          Le invitamos a recorrer sus secciones y utilizar esta herramienta para
          comprender mejor la realidad del municipio y fortalecer las acciones
          en favor de la salud y la equidad en el territorio.
        </p>
      </div>
    </div>
  </div>
</div>
